<div class="row">
    <div class='col-md-8 col-xs-2'></div>
    <div class='col-md-3 col-xs-2 text-nowrap'>
        <!-- TODO fix *ngIf="isMain" -->
        <a  class="btn btn-success" [style.width.px]="btnWidth" (click)="newAdClicked()" [routerLink]="['newAd']">
            <span class="glyphicon glyphicon-plus-sign"></span>
            <span>New Ad</span>
        </a>
        <!-- TODO fix *ngIf="!isMain" -->
        <a  class="btn btn-success" [style.width.px]="btnWidth" (click)="backClicked()" [routerLink]="['ads']">
            <span class="glyphicon glyphicon-arrow-left"></span>
            <span>Back</span>
        </a>
        <a [routerLink]="profileName ? ['profile'] : ['login']"><span class="glyphicon glyphicon-user"></span>{{profileName ? profileName : 'My Profile'}}</a>
    </div>
</div>
<div class="row" [style.visibility]="notificationInProgress ? 'visible': 'hidden'">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel-body" style="padding-bottom: 0;">
            <div class="alert alert-{{notificationType}} text-center" style="padding-bottom: 10px">
                {{notification}}
            </div>
        </div>
    </div>
</div>
