<div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="panel-title">Sign Up</div>
            <div style="float:right; font-size: 85%; position: relative; top:-10px"><a [routerLink]="['/login']" >Sign In</a></div>
        </div>
        <div class="panel-body" >
            <form class="form-horizontal" role="form" [ngFormModel]="registerForm" (ngSubmit)="register(registerForm)">

                <div id="signupalert" style="display:none" class="alert alert-danger">
                    <p>Error:</p>
                    <span></span>
                </div>

                <div class="form-group row" [ngClass]="{'has-error' : hasError('email') }">
                    <label for="email" class="col-md-3 form-control-label">Email</label>
                    <div class="col-md-9">
                        <input type="text" id="email" class="form-control" name="email" placeholder="Email Address" ngControl="email">
                        <em *ngIf="email.hasError('required') && submitAttempt">Required</em>
                    </div>
                </div>

                <div class="form-group row" [ngClass]="{'has-error' : hasError('firstName') }">
                    <label for="firstname" class="col-md-3 form-control-label">First Name</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="firstname" placeholder="First Name" ngControl="firstName">
                        <em *ngIf="firstName.hasError('required') && submitAttempt">Required</em>
                        <em *ngIf="firstName.hasError('minlength') && submitAttempt">Must be at least 2 characters</em>
                        <em *ngIf="firstName.hasError('maxlength') && submitAttempt">Must be up to 20 characters</em>
                    </div>
                </div>
                <div class="form-group row" [ngClass]="{'has-error' : hasError('lastName') }">
                    <label for="lastname" class="col-md-3 form-control-label">Last Name</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="lastname" placeholder="Last Name" ngControl="lastName">
                        <em *ngIf="lastName.hasError('required') && submitAttempt">Required</em>
                        <em *ngIf="lastName.hasError('minlength') && submitAttempt">Must be at least 2 characters</em>
                        <em *ngIf="lastName.hasError('maxlength') && submitAttempt">Must be up to 20 characters</em>
                    </div>
                </div>
                <div class="form-group row" [ngClass]="{'has-error' : hasError('password') }">
                    <label for="password" class="col-md-3 form-control-label">Password</label>
                    <div class="col-md-9">
                        <input type="password" class="form-control" name="passwd" placeholder="Password" ngControl="password">
                        <em *ngIf="password.hasError('required') && submitAttempt">Required</em>
                        <em *ngIf="password.hasError('minlength') && submitAttempt">Must be at least 6 characters</em>
                        <em *ngIf="password.hasError('maxlength') && submitAttempt">Must be up to 20 characters</em>
                    </div>
                </div>

                <div class="form-group row" [ngClass]="{'has-error' : hasError('retypePassword') }">
                    <label for="icode" class="col-md-3 form-control-label">Retype Password</label>
                    <div class="col-md-9">
                        <input type="password" class="form-control" name="passwd" placeholder="Retype Password" ngControl="retypePassword">
                        <em *ngIf="retypePassword.hasError('required') && submitAttempt">Required</em>
                        <em *ngIf="retypePassword.hasError('minlength') && submitAttempt">Passwords must match</em>
                    </div>
                </div>

                <div class="form-group row">
                    <!-- Button -->
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn btn-info"><i class="icon-hand-right"></i> Sign Up</button>
                        <span style="margin-left:8px;">or</span>
                    </div>
                </div>

                <div style="border-top: 1px solid #999; padding-top:20px"  class="form-group">

                    <div class="col-md-offset-3 col-md-9">
                        <button id="btn-fbsignup" type="button" class="btn btn-primary"><i class="icon-facebook"></i>   Sign Up with Facebook</button>
                    </div>

                </div>



            </form>
        </div>
    </div>
</div>