
<div class="row">
    <div class="col-md-4 col-xs-4 text-center">Title</div>
    <div class="col-md-4 col-xs-4 text-center">Text</div>
    <div class="col-md-4 col-xs-4 text-center">Price</div>
</div>
<ul class="list-group" *ngFor="let ad of ads">
    <li class="list-group-item">
        <div class="row">
            <div class="col-md-4 col-xs-4">
                <h4 class="list-group-item-heading">{{ ad.title }}</h4>
            </div>
            <div class="col-md-4 col-xs-4">
                <p class="list-group-item-text">{{ ad.text }}</p>
            </div>
            <div class="col-md-4 col-xs-4">
                <p class="list-group-item-text">{{ ad.price }}</p>
            </div>
        </div>
        <a href="" ><span class="glyphicon glyphicon-share" ></span>View</a>
        <a href="" ><span class="glyphicon glyphicon glyphicon-pencil" ></span>Edit</a>
        <a href="" style="color: red;"><span class="glyphicon glyphicon-remove" ></span>Delete</a>
    </li>
</ul>
